/* body {
  font-family: "Mukta Vaani", sans-serif;
  background-image: none;
  background-color: rgba(201, 215, 222, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
} */