<table id="accordionTable" class="table table-hover accordion">
  <thead>
    <tr>
      <th scope="col">Etapa</th>
      <th scope="col">Estatus</th>
    </tr>
  </thead>
  <tbody>
    <tr data-toggle="collapse" data-target="#collapSolicitudEstudio" aria-expanded="false" aria-controls="collapSolicitudEstudio">
      <th scope="row"><h5><i class="fi-cwsuxl-plus-solid"></i> Solicitud de estudio</h5></th>
      <td class="EstatusCompleto progress-bar-striped progress-bar-animated text-center"><i class="fi-cwsuxl-check"></i> <strong>COMPLETADO</strong></td>
    </tr>
    <!-- Colapsable Solicitud Estudio -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapSolicitudEstudio" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <div class="alert alert-success mt-3" role="alert">
              Estudio solicitado el <strong>04/12/19</strong>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapFirmaAPCI" aria-expanded="false" aria-controls="collapFirmaAPCI">
      <th scope="row"><h5><i class="fi-cwsuxl-pen"></i> Firma Avi. Priv./Cons. Inf.</h5></th>
      <td class="EstatusCompleto progress-bar-striped progress-bar-animated text-center"><i class="fi-cwsuxl-check"></i> <strong>COMPLETADO</strong></td>
    </tr>
    <!-- Colapsable Firma AV/CI -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapFirmaAPCI" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <div class="alert alert-success mt-3" role="alert">
              Estudio solicitado el 04/12/19
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapPago" aria-expanded="false" aria-controls="collapPago">
      <th scope="row"><h5><i class="fi-xwsuxl-shopping-cart-solid"></i> Pago</h5></th>
      <td class="EstatusCompleto progress-bar-striped progress-bar-animated text-center"><i class="fi-cwsuxl-check"></i> <strong>COMPLETADO</strong></td>
    </tr>
    <!-- Colapsable Pago -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapPago" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <div class="alert alert-success mt-3" role="alert">
              Estudio solicitado el 04/12/19
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapColectaProgramada" aria-expanded="false" aria-controls="collapColectaProgramada">
      <th scope="row"><h5><i class="fi-xnsuxl-calendar-solid"></i> Colecta programada</h5></th>
      <td class="EstatusCompleto progress-bar-striped progress-bar-animated text-center"><i class="fi-cwsuxl-check"></i> <strong>COMPLETADO</strong></td>
    </tr>
    <!-- Colapsable Colecta Programada -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapColectaProgramada" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <form class="mt-3">
              <div class="row">
                <div class="col-12 col-md-6">
                  <label class="" for="FechaColecta">Fecha Colecta</label>
                  <input type="date" class="form-control" name="FechaColecta" id="FechaColecta">
                </div>
                <div class="col-12 col-md-6">
                  <label for="NumeroTracking">Numero de Tracking</label>
                  <input type="text" class="form-control" placeholder="# Tracking" name="NumeroTracking" id="NumeroTracking">
                </div>
                <div class="col-12 col-md-12 mt-3 text-center">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-secondary">Editar</button>
                </div>
              </div>
            </form>
            <div class="alert alert-success mt-3" role="alert">
              La muestra será recogida el día <strong>04/12/19</strong> <br>
              Su tracking es <strong>197649135035</strong>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapColectaRealizada" aria-expanded="false" aria-controls="collapColectaRealizada">
      <th scope="row"><h5><i class="fi-cwsuxl-bus-side"></i> Colecta realizada</h5></th>
      <td class="EstatusTrabajando progress-bar-striped progress-bar-animated text-center"><i class="fi-cwsupl-reload"></i> <strong>EN PROCESO</strong></td>
    </tr>
    <!-- Colapsable Colecta Realizada -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapColectaRealizada" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <form class="mt-3">
              <div class="row">
                <div class="col-12 col-md-6">
                  <label class="" for="EstatusEntrega">Fecha Colecta</label>
                  <select type="date" class="form-control" name="EstatusEntrega" id="EstatusEntrega">
                    <option value="">Select</option>
                    <option value="No Entregado">No Entregado</option>
                    <option value="Entregado">Entregado</option>
                  </select>
                </div>
                <div class="col-12 col-md-12 mt-3 text-center">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-secondary">Editar</button>
                </div>
              </div>
            </form>
            <div class="alert alert-success mt-3" role="alert">
              La muestra se entrego al laboratorio el día <strong>06/12/19</strong>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapColectaEntregaLaboratorio" aria-expanded="false" aria-controls="collapColectaEntregaLaboratorio">
      <th scope="row"><h5><i class="fi-tnsuxl-warning-solid"></i> Entregada al laboratorio</h5></th>
      <td class="EstatusEspera progress-bar-striped progress-bar-animated text-center"><i class="fi-xnsdpl-loading"></i> <strong>EN ESPERA</strong></td>
    </tr>
    <!-- Colapsable Entregada al laboratorio -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapColectaEntregaLaboratorio" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <form class="mt-3">
              <div class="row">
                <div class="col-12 col-md-6">
                  <label class="" for="FechaEntregaResultado">Fecha Resultado</label>
                  <input type="date" class="form-control" name="FechaEntregaResultado" id="FechaEntregaResultado">
                </div>
                <div class="col-12 col-md-12 mt-3 text-center">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-secondary">Editar</button>
                </div>
              </div>
            </form>
            <div class="alert alert-success mt-3" role="alert">
              El resultado del estudio estará listo el día <strong>04/12/19</strong>
            </div>
          </div>
        </div>
      </td>
    </tr>


    <!--<tr data-toggle="collapse" data-target="#collapInicioProceso" aria-expanded="false" aria-controls="collapInicioProceso">
      <th scope="row"><h5><i class="fi-xnsuxl-network-solid"></i> Inicio Proceso</h5></th>
      <td class="EstatusEspera progress-bar-striped progress-bar-animated text-center"><i class="fi-xnsdpl-loading"></i> <strong>EN ESPERA</strong></td>
    </tr>
    Colapsable Inicio Proceso
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapInicioProceso" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <div class="alert alert-success mt-3" role="alert">
              Estudio solicitado el 04/12/19
            </div>
          </div>
        </div>
      </td>
    </tr>-->


    <tr data-toggle="collapse" data-target="#collapResultadoEmitido" aria-expanded="false" aria-controls="collapResultadoEmitido">
      <th scope="row"><h5><i class="fi-xnsuxl-copy-solid"></i> Resultado emitido</h5></th>
      <td class="EstatusEspera progress-bar-striped progress-bar-animated text-center"><i class="fi-xnsdpl-loading"></i> <strong>EN ESPERA</strong></td>
    </tr>
    <!-- Colapsable Resultado Emitido -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapResultadoEmitido" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <form class="mt-3 mb-3">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="SubirResultado">
                    <label class="custom-file-label" for="SubirResultado">Elegir Archivo</label>
                  </div>
                </div>
                <div class="col-12 col-md-12 mt-3 text-center">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-secondary">Eliminar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapSubidaEmitida" aria-expanded="false" aria-controls="collapSubidaEmitida">
      <th scope="row"><h5><i class="fi-xnsuxl-network-solid"></i> Subida a Plataforma</h5></th>
      <td class="EstatusEspera progress-bar-striped progress-bar-animated text-center"><i class="fi-xnsdpl-loading"></i> <strong>EN ESPERA</strong></td>
    </tr>
    <!-- Colapsable Subida a Plataforma -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapSubidaEmitida" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <div class="alert alert-success mt-3" role="alert">
              El resultado del estudio se subio el día <strong>20/12/19</strong>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr data-toggle="collapse" data-target="#collapResultadoListo" aria-expanded="false" aria-controls="collapResultadoListo">
      <th scope="row"><h5><i class="fi-cwsuxl-check"></i> Resultado listo</h5></th>
      <td class="EstatusEspera progress-bar-striped progress-bar-animated text-center"><i class="fi-xnsdpl-loading"></i> <strong>EN ESPERA</strong></td>
    </tr>
    <!-- Colapsable Resultado listo -->
    <tr>
      <td colspan="2" style="padding: 0 .75rem;">
        <div class="row">
          <div id="collapResultadoListo" class="collapse col-sm-12 text-center" aria-labelledby="headingOne" data-parent="#accordionTable">
            <div class="alert alert-success mt-3" role="alert">
              Descargar resultado del estudio, <a href="#">aquí</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="accordion" id="accordionExample" style="">
  <div class="card">
    <div class="card-header" id="CartaUno">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#SolicitudEstudio" aria-expanded="false" aria-controls="SolicitudEstudio">
          <h5><i class="fi-cwsuxl-plus-solid"></i> Solicitud de estudio</h5>
        </button>
      </h2>
    </div>
    <div id="SolicitudEstudio" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Fecha de la solicitud
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaDos">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#FirmaDocumentos" aria-expanded="false" aria-controls="FirmaDocumentos">
          <h5><i class="fi-cwsuxl-pen"></i> Firma AP/CI</h5>
        </button>
      </h2>
    </div>
    <div id="FirmaDocumentos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <select class="form-control" name="firma" id="Firma">
          <option value="No">No</option>
          <option value="Si">Si</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaTres">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Pago" aria-expanded="false" aria-controls="Pago">
          <h5><i class="fi-xwsuxl-shopping-cart-solid"></i> Pago</h5>
        </button>
      </h2>
    </div>
    <div id="Pago" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <select class="form-control" name="pagado" id="Pagado">
          <option value="No">No</option>
          <option value="Si">Si</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaCuatro">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ColectaProgramada" aria-expanded="false" aria-controls="ColectaProgramada">
          <h5><i class="fi-xnsuxl-calendar-solid"></i> Colecta programada</h5>
        </button>
      </h2>
    </div>
    <div id="ColectaProgramada" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <select class="form-control" name="programarColecta" id="programarColecta">
          <option value="NoSeleccionado">No Seleccionado</option>
          <option value="Abbott">Abbott</option>
          <option value="Chopo">Chopo</option>
          <option value="LabRamirez">Lab Ramirez</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaCinco">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ColectaRealizada" aria-expanded="false" aria-controls="ColectaRealizada">
          <h5><i class="fi-cwsuxl-bus-side"></i> Colecta realizada</h5>
        </button>
      </h2>
    </div>
    <div id="ColectaRealizada" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <select class="form-control" name="colecta" id="Colecta">
          <option value="No">No</option>
          <option value="Si">Si</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaSeis">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#EntregaAlLaboratorio" aria-expanded="false" aria-controls="EntregaAlLaboratorio">
          <h5><i class="fi-tnsuxl-warning-solid"></i> Entregada al laboratorio</h5>
        </button>
      </h2>
    </div>
    <div id="EntregaAlLaboratorio" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <select class="form-control" name="entregaLaboratorio" id="entregaLaboratorio">
          <option value="No">No</option>
          <option value="Si">Si</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaSiete">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#InicioProceso" aria-expanded="false" aria-controls="InicioProceso">
          <h5><i class="fi-xnsuxl-network-solid"></i> Inicio Proceso</h5>
        </button>
      </h2>
    </div>
    <div id="InicioProceso" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <select class="form-control" name="inicioProceso" id="inicioProceso">
          <option value="No">No</option>
          <option value="Si">Si</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaOcho">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ResultadoEmitido" aria-expanded="false" aria-controls="ResultadoEmitido">
          <h5><i class="fi-xnsuxl-copy-solid"></i> Resultado emitido</h5>
        </button>
      </h2>
    </div>
    <div id="ResultadoEmitido" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <div style="background-color: yellowgreen;">Resultado emitido Va tarde por n día(s)</div>
        <select class="form-control" name="resultadoEmitido" id="resultadoEmitido">
          <option value="No">No</option>
          <option value="Si">Si</option>
        </select>
        Fecha de entrega
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaNueve">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#SubidaAPlataforma" aria-expanded="false" aria-controls="SubidaAPlataforma">
          <h5><i class="fi-xnsuxl-network-solid"></i> Subida a Plataforma</h5>
        </button>
      </h2>
    </div>
    <div id="SubidaAPlataforma" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <input class="form-control" type="file">
        Realizar sustitución
        <button class="btn btn-success" >Descargar resultados</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="CartaDiez">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ResultadoListo" aria-expanded="false" aria-controls="ResultadoListo">
          <h5><i class="fi-cwsuxl-check"></i> Resultado listo</h5>
        </button>
      </h2>
    </div>
    <div id="ResultadoListo" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Enviar SMS, correo
      </div>
    </div>
  </div>
</div>
